<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Articles</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Articles</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-searchbar></ion-searchbar>

    <ion-item *ngFor="let article of myResponse.articles">
      <ion-card id="ionCard">
        <swiper-container
          [slidesPerView]="1"
          [spaceBetween]="50"
          (slideChange)="swiperSlideChanged($event)"
          [loop]="true"
          [pagination]="true"
        >
          <swiper-slide *ngIf="article.photos && article.photos.length > 0">
            <img
              id="imgCard"
              [src]="'http://www.sebastien-thon.fr/prince/images/' + article.photos[0].image"
            />
          </swiper-slide>
          <swiper-slide *ngIf="article.photos && article.photos.length > 1">
            <img
              id="imgCard"
              [src]="'http://www.sebastien-thon.fr/prince/images/' + article.photos[1].image"
            />
          </swiper-slide>
        </swiper-container>

        <!-- **TODO Permettre d’afficher les légendes selon les images -->

        <ion-card-subtitle
          id="legendeCard"
          *ngIf="article.photos && article.photos.length > 0"
        >
          {{article.photos[0].legende}}
        </ion-card-subtitle>

        <ion-card-header>
          <ion-card-title id="titleCard">{{article.titre}}</ion-card-title>
          <ion-card-subtitle
            >{{article.categorie }} | {{article.date}}</ion-card-subtitle
          >
          <ion-card-subtitle
            >Classe(s) concernée(s) : {{article.classe}}</ion-card-subtitle
          >
        </ion-card-header>

        <ion-card-content id="textCard"> {{article.texte}} </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>
