<ion-content id="allLogin" scrollEvents="false">
  <ion-header id="header" class="ion-no-border">
    <ion-toolbar>
      <ion-title id="connexionTitle"> Connexion </ion-title>
      <img src="../../assets/icon/lpp.png" id="LPPImg" alt="" />
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="login-form">
      <ion-item>
        <ion-label position="floating">Identifiant</ion-label>
        <ion-input type="text" [(ngModel)]="login"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Mot de passe</ion-label>
        <ion-input
          type="password"
          shape="round"
          [(ngModel)]="password"
        ></ion-input>
      </ion-item>

      <ion-button
        id="headerAnchor"
        shape="round"
        expand="block"
        (click)="logFunc()"
      >
        Connexion
      </ion-button>

      <ion-item class="checkbox-item">
        <ion-checkbox slot="start" [(ngModel)]="rememberMe"></ion-checkbox>
        <ion-label>Resté connecté</ion-label>
      </ion-item>
    </div>
  </ion-content>
</ion-content>
