#ionSub {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #192725;
  color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 17px;
}

#diveButton {
  background-color: rgb(20, 112, 74);
  font-size: 15px;
  padding: 4%;
  width: 75%;
  color: white;
  border-radius: 10px;
  bottom: 10px;
  margin-left: 12%;
}
